<%= form_for([@table,@client]) do |f| %>
  Enter your name:
  <br><br>
  <div class='field'>
    
    <%= f.text_field :name, required: true %>
  </div>

  <div class='field'>
    <%= f.submit 'Enter' %>
  </div>
<% end %>
