<div id="container">
	<h1>Administrator's Page</h1>
	<br>
	<%= link_to "Manage Employees", waiters_manage_employees_path%>
	<br><br>
	<%= link_to "Manage Tables", waiters_manage_tables_path%>
	<br><br>
	<%= link_to "Manage Categories", waiters_manage_categories_path %>
	<br><br>
	<%= link_to "Manage Dishes", waiters_manage_dishes_path %>
	<br><br>
</div>
