<div id="welcome">
	<h5>Welcome to<br> </h5>
	<img src="http://upload.wikimedia.org/wikipedia/en/thumb/3/37/White_Spot_Logo.svg/1280px-White_Spot_Logo.svg.png" style="width:180px;">
	<br><br>
	<% if current_client.present? %>
		<h3><%= link_to "Go to your page", table_client_path(current_client.table,current_client) %></h3>
	<% else%>
	
	Enter the Table code:
	
	<%= form_for @table, :url => {:action => "create"} do |f|%>
	  <%= f.text_field :code, required: true %>
	  <br>
	  <%= f.submit 'Go to your table' %>
	<% end %>
	<%end%>
	
</div>