<div id="welcome">
	<h3>Welcome to XXX</h3>
	<br>
	<% if current_client.present? %>
		<h3><%= link_to "Go to your page", table_client_path(current_client.table,current_client) %></h3>
	<% else%>
	Enter the Table code:
	
	<%= text_field_tag 'code' %>
	<%end%>
	<br>
</div>