// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 15px;
	border-radius: 6px;
	margin: 2% auto auto auto;
	width: 70%;
	font-size: 18px;
}
#container h1
{
	text-align: center;
}