<div id="container">
	<%= image_tag ('me.jpg'), :class => 'center'%>
	<div style='display:inline-block'>
	My name is Raphael Pinheiro de Souza and I'm a Brazilian student. In the past 8 months I've been studying Web Application development as well as Mobile application(Android and iOS) and design eat the North Island College. Before that I was coursing Computer Science in the University State of Ceará.</p>
	</div>
	
		I've been working with programming for 3 year and in this time I've learned:
	<hr>
	<ul>
		<li>C</li>
		<li>Objective-C</li>
		<li>Java</li>
		<li>PHP</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Ruby on Rails</li>
		<li>Ruby</li>
		<li>Javascript</li>
		<li>JQuery</li>
</div>